body {
    font-family: Arial, sans-serif;
    background-image: url('kpop1.jpg');
    background-size: cover; 
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: white;
}

.container {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

button {
    background-color: #267539;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #267539;
}

#heartCount {
    font-size: 24px;
    font-weight: bold;
    color: #267539;
    text-shadow: 2px 2px 4px rgba(0, 255, 0, 0.8); /* Зеленый контур */
}




@media (max-width: 600px) {
    body {
        background-size: cover;
        height: 100vh;
    }

    .container {
        padding: 15px;
        width: 90%; 
    }

    button {
        padding: 8px 15px;
        font-size: 16px;
    }

    #heartCount {
        font-size: 20px;
    }
}


@media (max-width: 1024px) {
    .container {
        padding: 20px;
        width: 80%; 
    }

    button {
        padding: 10px 18px;
        font-size: 17px;
    }

    #heartCount {
        font-size: 22px;
    }
}
